<a href="https://colab.research.google.com/github/RJ-Stony/A-Complete-Guide-to-ML/blob/main/Titanic_Survivor_Prediction(With_Sklearn).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 소개
    
    - 각 파일의 컬럼은 아래와 같습니다.
    Passebgerid : 탑승자 데이터 일련번호
    survived : 생존 여부, 0 = 사망, 1 = 생존
    pclass : 티켓의 선실 등급, 1 = 일등석, 2 = 이등석, 3 = 삼등석
    sex : 탑승자 성별
    name : 탑승자 이름
    age : 탑승자 나이
    sibsp : 같이 탑승한 형제자매 또는 배우자 인원수
    parch : 같이 탑승한 부모님 또는 어린이 인원수
    ticket : 티켓 번호
    fare : 요금
    cabin : 선실 번호
    embarked : 중간 정착 항구 C = Cherbourg, Q = Queenstown, S = Southampton

- 데이터 출처: https://www.kaggle.com/andrewmvd/heart-failure-clinical-data

In [1]:
import os

In [3]:
# os.environ을 이용하여 Kaggle API Username, Key 세팅하기
os.environ['KAGGLE_USERNAME'] = 'rohjunseok'
os.environ['KAGGLE_KEY'] = '96780e3d85944441d4766bc1fa81c450'

In [4]:
# Linux 명령어로 Kaggle API를 이용하여 데이터셋 다운로드하기 (!kaggle ~)
# Linux 명령어로 압축 해제하기

!kaggle competitions download -c titanic
!unzip '*.zip'

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 23.9MB/s]
Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

titanic_df = pd.read_csv('train.csv')
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [7]:
print('\n ### 학습 데이터 정보 ### \n')
print(titanic_df.info())

 ### 학습 데이터 정보 ###

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None